<IfModule mod_php.c>
    php_value max_input_time 300
    php_value max_execution_time 300
    php_value post_max_size  1G
    php_value upload_max_filesize 1G
    php_value memory_limit 2G
</IfModule>

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* /index.php [L,QSA]
